*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Footer {
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow:hidden;
    height:40px;
    padding:30px 0
}
.Footer ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;
    font:14px Arial, Helvetica, sans-serif;
    height:40px
}
.Footer ul li {
    position:relative;
    left:-50%;
    float:left;
    margin:0 10px;
    height:40px
}
.Footer ul li a {
    color: #fff;
    display:block;
    text-decoration:none;
    padding:0 15px;
    line-height: 40px;
}
.Footer ul li a:hover {
    background-color:#666;
}
