.NavLogo{
    width: 200px;
    height: 77px;
    background: url(//i.annihil.us/u/prod/misc/marvel.svg);
    background-size: 200px 78px;
    position: absolute;
    top: 0;
    left: 12.3%;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Navigation {
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow:hidden;
    height: 77px;
    padding:30px 0
}
.Navigation ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;
    font:14px Arial, Helvetica, sans-serif;
    height:40px
}
.Navigation ul li {
    position:relative;
    left:-50%;
    float:left;
    margin:0 10px;
    height:40px;
    display: flex;
    align-items:center;
}
.Navigation ul li a {
    color: #fff;
    display:block;
    text-decoration:none;
    padding:0 15px;
    line-height: 40px;
}
.Navigation ul li a:hover {
    background-color:#666;
}
