.NotFound{
    position: relative;
}
h1{
    position: absolute;
    top: 5rem;
    left: 1rem;
}
.SubTitle{
    position: absolute;
    top: 10rem;
    left: 1rem;
}
.SecondSub{
    position: absolute;
    top: 15rem;
    left: 1rem;
}
.Ironman{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 20%;
    margin-top: 4%;
}

