#root {
  background: url("https://mana.su/wp-content/uploads/2017/09/spisok-filmov-marvel-2018-goda-5.jpg") no-repeat 50% ;
}
.Container {
  width: 1020px;
  min-height: 640px;
  margin: 0 auto;
  background-color: white;
  /*text-align: left;*/
}
h2{
  text-align: center;
}
p{
  margin-left: 25px;
  margin-bottom: 25px;
  text-indent:1.5em;
}
.Video{
  margin: 0 auto;
}